// Sass variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable Sass must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

.navigation-buttons .panel_contents > div {
  display: flex;
  justify-content: space-between;
}

.button.disabled {
  opacity: 0.5;
  pointer-events: none;
}

form {
  text-align: left;
}

// For intent and entity columns in Dashboard
.intent-entities-columns > .column {
  box-sizing: border-box;
  float: left; // Float not flex
  width: 33%; // 33% width
  text-align: left;
}

#header{
    background-color: #2c3e50;
    color: #fff;
    font-size: 1.5em;
    font-weight: 300;
    padding: 0.5em 1em;
    text-align: center;
    text-transform: uppercase;
}

@mixin highlight-fb-columns {
  tr.highlight-negative td.col-user_feedback {
    background-color: lighten(pink, 5%);
  }

  tr.highlight-positive td.col-user_feedback {
    background-color: lighten(lightgreen, 5%);
  }
}

body.active_admin {
  .index_table {
    @include highlight-fb-columns;
  }

  .conversation_message_table {
    @include highlight-fb-columns;
  }
}
